<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  
  <form method="POST" action="/newteam">
      <input type="text" name="string">
      <input type="text" coach="string">
      <input type="text" pg="string">
      <input type="text" sg="string">
      <input type="text" pf="string">
      <input type="text" sf="string">
      <input type="text" name="string">
      <input type="submit">
    </form>
 </head>
 <body>
 </body>
</html>


